*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F5F5;
  padding: 0 2.25em;
  overflow-x: hidden; /* Prevent horizontal scrollbar on the body */
}

p{
  margin: 0;
}

input[type="text"]:focus {
  outline: none;
}

/* user styles */

.user{
  display: flex;
  padding-top: 4em;
  padding-bottom: 1em;
}

.user .greet-section{
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.user--greet{
  line-height: 45px;
  font-size: 2rem;
  font-weight: 700;
}

.user--location{
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 17px;
  color: #B7B7B7;
}

.user--icons{
  display: flex;
  align-items: center;
  gap: 1em;
}

#user--bell-icon{
  padding:5px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

#user--user-icon{
  padding:5px;
  border-radius: 50%;
  background-image: linear-gradient(#e6cf38,#d06518);
}

/* searcbar styles */

.search-bar{
  padding: 0.5em;
  display: flex;
  gap: 0.375em;
  background: #EFEFEF;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-shadow: 1px 1px 8px 0px #00000040;

}

.search-bar::placeholder{
  color: #858585;
}


.search-bar input{
  border: none;
  background-color: #EFEFEF ;
  color: #858585;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

/* categories style */

.categories{
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}

.categories--texts{
  display: flex;
  justify-content: space-between;
}

.headers{
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.show-more{
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.categories--list {
  padding: 1.25em 0em 1.25em 0.125em;
  display: flex;
  gap: 1.25em;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-right: -2.25em; /* negative margin equal to the padding on the body */
}


.categories--category-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories--category-card:last-of-type{
  padding-right: 2em;
}

.categories--category-card > img{
  border-radius: 50%;
  padding: 0.75em;
  background: #FFFFFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}


/* popular-locations styles */

.popular-locations{
  margin-bottom: 1.25em;
}

.popular-locations--texts{
  display: flex;
  justify-content: space-between;
}

.popular-locations--list{
  padding-top: 0.6875em;
  padding-left: 0.5em;
  display: flex;
  gap: 0.6875em;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-right: -2.25em; /* negative margin equal to the padding on the body */
}

.popular-location--list-item {
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  background: #EFEFEF;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.popular-location--list-item:last-of-type {
  margin-right: 2em;
}

.popular-location--image-container {
  width: 8.25em;
  height: 10em; /* Adjust the height as needed */
  overflow: hidden;
  border-radius: 15px;
}

.popular-location--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-location--name{
  margin-left: 0.375em;
  align-self: baseline;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.popular-location--location{
  align-self: baseline;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #000000;
}

/* map-styles */

.map{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.map-img{
  display: flex;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  max-height: 400px;
}

.map-img >img{
  max-height:400px;
  align-self: center;
  width: auto;
}

/* nav-styles */

.bottom {
  height: 6em; /* Adjust the height based on your navbar height */
}

.navbar{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 4.875em;
  width: 101%;
  background-color: black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0 0;
}

.nav--icons{
  padding: 0 1.125em;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#nav--search-icon{
  transform: translateY(-1.375em);
  border-radius: 50%;
  padding: 11px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

